// @import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;200;300;400;500;600;800;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
body {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    @apply bg-background-light dark:bg-background-dark;
}

html {
    // font-family: 'Kalam', cursive !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
